body {
  background: black;
  color: white;
  background-image: url("../img/LP1_tlo_oryginal.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 227px 60px;
  background-size: 1500px; }

#img_studio {
  position: absolute;
  top: 150px;
  left: 530px;
  height: 604px; }

#pijanowski-img {
  position: absolute;
  top: -80px; }

#studio {
  margin-top: -70px; }

@media only screen and (max-width: 600px) {
  .info-box span {
    font-size: 17px !important; } }

.info-dane span {
  font-size: 12px; }

#lead-form {
  margin-top: 65px; }

input[type=checkbox] {
  width: 30px;
  height: 30px; }

.uppercase {
  text-transform: uppercase; }

.bold {
  font-weight: bold; }

.text-gray {
  color: #767374; }

.bottom-dotted {
  border-bottom: 4px dotted white; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #f00; }

.custom-btn {
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase; }

.info-box {
  width: 100%;
  height: auto;
  background: #d33132;
  color: white;
  position: relative;
  padding: 10px 25px;
  border-radius: 5px;
  text-align: center; }
  .info-box span {
    font-weight: bold;
    font-size: 35px; }
  .info-box:before {
    position: absolute;
    left: 0;
    top: 100%;
    width: 50%;
    height: 30px;
    background: linear-gradient(to left bottom, #d33132 50%, rgba(0, 0, 0, 0) 50%);
    content: " "; }
  .info-box:after {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 50%;
    height: 30px;
    background: linear-gradient(to right bottom, #d33132 50%, rgba(0, 0, 0, 0) 50%);
    content: " "; }
