$infoBoxColor: #d33132;
$gray: #767374;

body {
  background: black;
  color: white;
  //padding: 20px 100px;
  background-image: url('../img/LP1_tlo_oryginal.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 227px 60px;
  background-size: 1500px;
}

#img_studio {
  position: absolute;
  top: 150px;
  left: 530px;
  height: 604px;
}

#pijanowski-img {
  position: absolute;
  top: -80px;
}

#studio {
  margin-top: -70px;
}

@media only screen and (max-width: 600px) {
  .info-box {
    span {
      font-size: 17px !important;
    }

  }

}

.info-dane {
  span {
    font-size: 12px;
  }
}

#lead-form {
  //display: flex;
  //flex-direction: column;
  //justify-content: flex-end;
  margin-top: 65px;

}

input[type=checkbox] {
  width: 30px;
  height: 30px;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.text-gray {
  color: $gray;
}

.bottom-dotted {
  border-bottom: 4px dotted white;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-top: 15px solid #f00;
}

.custom-btn {
  background-color: rgba(0, 0, 0, 1);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.info-box {
  width: 100%;
  height: auto;
  background: $infoBoxColor;
  color: white;
  position: relative;
  padding: 10px 25px;
  border-radius: 5px;
  text-align: center;
  span {
    font-weight: bold;
    font-size: 35px;
  }

  &:before {
    position: absolute;
    left: 0;
    top: 100%;
    width: 50%;
    height: 30px;
    background: linear-gradient(to left bottom, $infoBoxColor 50%, rgba(0, 0, 0, 0) 50%);
    content: " ";
  }

  &:after {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 50%;
    height: 30px;
    background: linear-gradient(to right bottom, $infoBoxColor 50%, rgba(0, 0, 0, 0) 50%);
    content: " ";
  }

}